@model EditoraAPI.Models.TB_Cupom

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TB_Cupom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Valor_Desconto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor_Desconto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_ini)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_ini)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_fim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_fim)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Cupom }) |
    @Html.ActionLink("Back to List", "Index")
</p>
