@model IEnumerable<EditoraApplication.Models.TB_Livro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrição)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_Publicacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero_Paginas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ilustrador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Livro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descrição)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_Publicacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero_Paginas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ilustrador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Livro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Livro }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Livro }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Livro })
        </td>
    </tr>
}

</table>
