@model EditoraApplication.Models.TB_Cupom_Pessoa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TB_Cupom_Pessoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TB_Cupom.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_Cupom.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TB_Pessoa.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_Pessoa.CPF)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Cupom_Pessoa }) |
    @Html.ActionLink("Back to List", "Index")
</p>
