@model EditoraApplication.Models.TB_Telefone

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TB_Telefone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TB_Autor.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_Autor.CPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TB_Cliente.ID_Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_Cliente.ID_Cliente)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
