@model IEnumerable<EditoraApplication.Models.TB_Livraria>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CNPJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_consignacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TB_Cliente.ID_Cliente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CNPJ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_consignacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TB_Cliente.ID_Cliente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Livraria }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Livraria }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Livraria })
        </td>
    </tr>
}

</table>
