@model EditoraAPI.Models.TB_Livraria

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TB_Livraria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNPJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_consignacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_consignacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TB_Cliente.ID_Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_Cliente.ID_Cliente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Livraria }) |
    @Html.ActionLink("Back to List", "Index")
</p>
