@model EditoraAPI.Models.TB_Endereco

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TB_Endereco</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CEP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complemento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TB_Autor.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_Autor.CPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TB_Cliente.ID_Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_Cliente.ID_Cliente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Endereco }) |
    @Html.ActionLink("Back to List", "Index")
</p>
