@model IEnumerable<EditoraAPI.Models.TB_Endereco>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CEP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Complemento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TB_Autor.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TB_Cliente.ID_Cliente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CEP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bairro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Complemento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TB_Autor.CPF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TB_Cliente.ID_Cliente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Endereco }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Endereco }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Endereco })
        </td>
    </tr>
}

</table>
