@model IEnumerable<EditoraAPI.Models.TB_Escola>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome_Instituicao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CNPJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Responsavel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Livro_Adotado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Serie_Adotada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dt_Adotacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TB_Cliente.ID_Cliente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome_Instituicao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CNPJ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Responsavel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Livro_Adotado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Serie_Adotada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dt_Adotacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TB_Cliente.ID_Cliente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Escola }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Escola }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Escola })
        </td>
    </tr>
}

</table>
