@model IEnumerable<EditoraAPI.Models.TB_Cupom_Pessoa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TB_Cupom.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TB_Pessoa.CPF)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TB_Cupom.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TB_Pessoa.CPF)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Cupom_Pessoa }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Cupom_Pessoa }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Cupom_Pessoa })
        </td>
    </tr>
}

</table>
