@model IEnumerable<EditoraApplication.Models.TB_Pessoa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desconto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Pessoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_nascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TB_Cliente.ID_Cliente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CPF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desconto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Pessoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_nascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TB_Cliente.ID_Cliente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Pessoa }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Pessoa }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Pessoa })
        </td>
    </tr>
}

</table>
